tracksdata
zarr>=3.0.10,<4
pyscipopt
geff
geff-spec
ilpy
polars
polars-runtime-32
blosc2
dask
imagecodecs
pyarrow
rustworkx
sqlalchemy
donfig
google-crc32c
numcodecs>=0.13,<0.16
bidict
psygnal
rich
networkx
pydantic
pydantic-core
annotated-types
typing-extensions
typing-inspection
markdown-it-py
pygments
click
cloudpickle
fsspec
partd
locket
toolz
pyyaml
ndindex
msgpack
numexpr
deprecated
wrapt
imageio
pillow
tifffile
lazy-loader
tqdm
